

/* Starry Sky */


body {
  background: #000;
}

#App {
  z-index: -1000;
}

#sky {
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  margin: 0;
  padding: 0;
  z-index: -1000;
}

#shootingstars {
  margin: 0;
  padding: 0;
  width: 150vh;
  height: 100vw;
  position: fixed;
  overflow: hidden;
  transform: translatex(calc(50vw - 50%)) translatey(calc(50vh - 50%))
    rotate(120deg);
    z-index: -1000;
}

.wish {
  height: 2px;
  top: 300px;
  width: 100px;
  margin: 0;
  opacity: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
  position: absolute;
  background: linear-gradient(-45deg, white, rgba(0, 0, 255, 0));
  filter: drop-shadow(0 0 6px rgb(255, 255, 255));
  overflow: hidden;
}

/* Navbar */

nav {

  display: flex;
  justify-content: center;
  z-index: 2;
}

.link {
  text-decoration: none;
  color: rgb(206, 206, 75);
  margin: 30px;
  font-weight: 500;
  font-size: 30px;  
  border: 2px solid rgba(255, 255, 0, 0.703);
  padding: 10px 20px;
  border-radius: 20px;    
  cursor: pointer; 
  z-index: 10;

}

.link:hover {
  color: white;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;            

}

.label {
  margin: 30px;   
  width: 25rem;
}

.container-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  z-index: -30;

}

.container {
  text-align: left;
  border-radius: 20px;
  border: 2px solid rgb(206, 206, 75);
  padding: 20px;
  margin: 50px;
  flex: 1;
  width: 20rem;
  z-index: -20;
}

.heading {
  font-weight: 800;
  font-size: 25px;
  color: rgb(206, 206, 75);
  letter-spacing: 0.2rem;
  text-align: center;
  z-index: 20;
}

.subheading {
  font-size: 17px;
  font-weight: 400;
  color: rgb(206, 206, 75);
  letter-spacing: 0.2rem;
}

.text {
  font-size: 15px;
  font-weight: 200;
  letter-spacing: 0.1rem;
  line-height: 1.5;
  color: white;
}



.special-details {
  text-align: right;
  font-size: 11px;
  font-weight: 200;
  letter-spacing: 0.1rem;
  line-height: 1;
  color: white;
  font-style: italic;

}

.over {
  z-index: 50;
}

/* Loading */

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
}

.loader {
  color:  rgba(255, 255, 255, 0.685);
  font-style: italic;
}


@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  width: 50px;
  height: 50px;
  border: 10px solid rgba(255, 255, 255, 0.575);
  border-top: 10px solid rgba(237, 237, 124, 0.661);
  border-radius: 50%;
  animation: loading 1.5s linear infinite;
}

@media all and (max-width: 850px) {
  .label { 
    width: 20rem;
  }
  .container {
    width: 30rem;
  }
  
}


@media all and (max-width: 500px) {

  .container {
    margin: 30px 0;
  }
  .label { 
    width: 15rem;
  }
  .container {
    width: 17rem;
  }

  nav {
    flex-direction: column;
    text-align: center;
  }

  header {
    flex-direction: column;
  }
}